<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">

   <h2>User info</h2>
  <%#= image_tag book.user.get_profile_image("100x100") %>

   <table class="table">
    <tbody>
     <tr>name<%= user.name %></tr>
     <tr>introduction<%= user.introduction %></tr>
    </tbody>
   </table>

   <div class="row">
    <% if user==current_user %>
     <%= link_to "edit",edit_user_path(user.id) %>
    <% end %>
   </div>
  </div>
 </div>
</div>