<!--左・ユーザーのプロフィールと投稿フォーム-->
<%= render 'users/user', user:@user %>
<%= render 'list', books:@book %>

<h2>Books</h2>
<p>title</p>
<p>opinion</p>
<% @books.each do |book| %>
 <%= book.title %>
 <%= book.body %>
<% end %>